[include]
        path = ~/.gitconfig.local

[github]
        user = dacort

# shortcuts
[alias]
    co   = checkout
    # Undo your last commit, but don't throw away your changes
    undo = reset --soft HEAD^

# vscode diffing
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[diff]
    tool = vscode-diff
[difftool "vscode-diff"]
    cmd = code --wait --diff $LOCAL $REMOTE
[pull]
	rebase = false
[init]
	defaultBranch = main
